@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
